snippet table "table"
<table>
	<thead>
		<tr>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
		</tr>
	</tbody>
</table>
endsnippet

snippet select "select"
<select id="" name="">
	<option value=""></option>
</select>
endsnippet
