[user]
  name = tatsuya4559
  email = tatsuya.k1029@gmail.com
[github]
  user = tatsuya4559
[core]
  editor = vim
  pager = diff-highlight | less
[merge]
  tool = vimdiff
  ff = false
[fetch]
  prune = true
[pull]
  ff = only
[push]
  default = current
[grep]
  lineNumber = true
  column = false
  fallbackToNoIndex = true
[diff]
  colorMoved = dimmed-zebra
[alias]
  st = status
  co = checkout
  cm = commit -v
  fe = fetch --all
  br = branch
  di = diff
  dt = difftool
  mt = mergetool
  sw = !git branch -vv | grep -v '^\\s*\\*' | fzf | awk '{print $1}' | xargs git switch
  mf = !git branch -vv | grep -v '^\\s*\\*' | fzf | awk '{print $1}' | xargs git merge
  gone = !git branch -v | grep [gone] -F | awk '{print $1}' | xargs git branch -d
[ghq]
  root = ~/git
[delta]
  # syntax-theme = GitHub
