[user]
  name = tatsuya4559
  email = tatsuya.k1029@gmail.com
[core]
  editor = vim
[merge]
  tool = vimdiff
  ff = false
[fetch]
  prune = true
[pull]
  ff = only
[push]
  default = current
[grep]
  lineNumber = true
  column = true
  fallbackToNoIndex = true
[alias]
  st = status
  co = checkout
  cm = commit -v
  fe = fetch --all
  br = branch -vv
  di = diff
  dt = difftool
  mt = mergetool
[ghq]
  root = ~/git
