[user]
  name = tatsuya4559
  email = tatsuya.k1029@gmail.com
[core]
  editor = nvim
[diff]
  tool = nvimdiff
[difftool]
  prompt = false
[difftool "nvimdiff"]
  cmd = "nvim -Rdc \"wincmd l\" -d \"$LOCAL\" \"$REMOTE\""
[merge]
  tool = nvimdiff
  ff = false
[mergetool "nvimdiff"]
  cmd = "nvim -d -c \"4wincmd w | wincmd J\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"  \"$MERGED\""
[fetch]
  prune = true
[pull]
  ff = only
[push]
  default = current
[alias]
  st = status
  co = checkout
  cof = !git branch | fzf | xargs git checkout
  cm = commit -v
  fe = fetch
  pop = stash pop
  br = branch -vv
  di = diff
  dt = difftool
  mt = mergetool
  graph = log --graph --decorate --oneline
  PR = pull-request
  see = browse
[ghq]
  root = ~/go/src
