[user]
  name = tatsuya4559
  email = tatsuya.k1029@gmail.com
[core]
  editor = vim
[merge]
  tool = vimdiff
  ff = false
[fetch]
  prune = true
[pull]
  ff = only
[push]
  default = current
[alias]
  fa = !git status -s | fzf -m | awk '{print $2}' | xargs git add
  st = status
  co = checkout
  cm = commit -v
  fe = fetch --all
  pop = stash pop
  br = branch -vv
  di = diff
  dt = difftool
  mt = mergetool
  see = browse
[ghq]
  root = ~/go/src
