tap "homebrew/bundle"
tap "homebrew/core"
brew "asdf"
brew "direnv"
brew "dive"
brew "docker"
brew "entr"
brew "fd"
brew "fzf"
brew "gh"
brew "ghq"
brew "git"
brew "git-delta"
brew "htop"
brew "jq"
brew "ripgrep"
brew "rlwrap"
brew "shellcheck"
brew "tig"
brew "tldr"
brew "tmux"
brew "tree"
brew "universal-ctags"
brew "vim"

{{ if eq .chezmoi.os "darwin" -}}
tap "homebrew/cask"
tap "homebrew/cask-versions"
cask "dbeaver-community"
cask "firefox"
cask "google-chrome"
cask "google-japanese-ime"
cask "iterm2"
cask "slack"
cask "visual-studio-code"
{{ end -}}

{{/*
vim: ft=gotexttmpl
*/}}
