#!/bin/bash
{{ if eq .chezmoi.os "linux" }}
# couldn't use osRelease.idLike = "debian"

sudo apt update
sudo apt upgrade -y

sudo apt install -y \
  build-essential \
  procps \
  curl \
  file \
  git \
  curl

{{ end }}

# vim: ft=sh
