#!/bin/bash
{{ if (eq (get .chezmoi.osRelease "idLike") "debian") }}
sudo apt update
sudo apt upgrade -y

sudo apt install -y \
  build-essential \
  procps \
  curl \
  file \
  git \
  curl
{{ end -}}
# vim: ft=gotexttmpl
