#!/bin/bash

install_brew() {
{{ if eq .chezmoi.os "darwin" }}
  echo 'Installing homebrew...'
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
{{ else if eq .chezmoi.os "linux" }}
  echo 'Installing linuxbrew...'
  git clone --depth 1 https://github.com/Homebrew/brew "$HOME/.linuxbrew/Homebrew"
  mkdir "$HOME/.linuxbrew/bin"
  ln -s "$HOME/.linuxbrew/Homebrew/bin/brew" "$HOME/.linuxbrew/bin"
  eval $("$HOME/.linuxbrew/bin/brew" shellenv)
{{ end }}
  brew update
}

if [[ -z $(command -v brew) ]]; then
  install_brew
fi
brew bundle --global

$(brew --prefix)/opt/fzf/install

{{/*
vim: ft=gotexttmpl
*/}}
