---
- name: Install applications with Homebrew
  community.general.homebrew:
    name: "{{ item }}"
  loop:
    - awscli
    - bash
    - colima
    - derailed/k9s/k9s
    - direnv
    - docker
    - docker-compose
    - entr
    - fd
    - fzf
    - gh
    - ghq
    - git
    - go-to-k/tap/delstack
    - jq
    - kind
    - kubectl
    - kubectx
    - marp-cli
    - mise
    - ripgrep
    - stern
    - stow
    - tig
    - tldr
    - tmux
    - tree
    - universal-ctags
    - vim

- name: Install applications with Homebrew Cask
  community.general.homebrew_cask:
    name: "{{ item }}"
  loop:
    - 1password
    - 1password-cli
    - alacritty
    - brave-browser
    - google-chrome
    - raycast
    - shottr
    - visual-studio-code
    # - google-japanese-ime # M3 Macだとうまくインストールできない

- name: Install applications for my job with Homebrew Cask
  community.general.homebrew_cask:
    name: "{{ item }}"
  loop:
    - docker
    - meetingbar
    - miro
    - slack
    - trailer
    - zoom
  tags:
    - never
    - job
