snippet fn "function"
func $1 {
	$2
}
endsnippet

snippet fori "classic for loop"
for i := 0; i < $1; i++ {
	$2
}
endsnippet

snippet append "append"
$1 = append($1, $2)
endsnippet

snippet json.encode "JSON encode"
if err := json.NewEncoder($1).Encode($2); err != nil {
	$3
}
endsnippet

snippet "(\w+).map.(\w+).(\w+)" "make map" r
`!p snip.rv = match.group(1)` = map[`!p snip.rv = match.group(2)`]`!p snip.rv = match.group(3)`$0
endsnippet
