snippet ut "unittest"
class Test$1(unittest.TestCase):
    def setUp(self):
        pass

    def _callFUT(self, args):
        return func(args)

    def test_ok(self):
        pass
endsnippet

snippet jt "django test"
class Test$1(DjangoTest):
    def setUp(self):
        pass

    def _callFUT(self, args):
        return func(args)

    def test_ok(self):
        pass
endsnippet
